.loginBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

.form{
    width: 35vw;
}

.input{
    width: 100%;
    padding: 0 0.5rem;
    color: rgb(1, 1, 1);
    font-weight: 450;
    height: 6.5vh;
}

button{
    color: rgb(124, 128, 128);
    font-style: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 0;
    width: 100%;
}

.buttonSubmit :disabled{
    color: gray !important;
}

.invalid input{
    border: 1px solid #a70505;
    background-color: #edcaca;
}

@media (max-width: 666px) {
    .form{
        width: 80%;
    }
  }