.eventCard{
        width: 800px;
        max-height: 1000px;
        background-color: white;
        border-bottom: .38rem solid rgb(244, 244, 244);
        /* border-right: .2rem solid rgb(207, 201, 201); */
        /* border-left: .2rem solid rgb(207, 201, 201); */
        border-radius: .2rem;
}

.eventCard>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 1rem .8rem 0 .8rem;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
}

.cardBody{
    padding: 0 1rem 0 1rem;
}

.cardBody>h5{
    font-weight: 650;
    font-size: 2.1rem ;
    font-family: 'PT Serif', serif;
    background-color: aliceblue;
    border-radius: 3px;
    padding: .4rem .6rem;
}

.card-text{
   font-family: 'Nunito', sans-serif;
   font-style: italic;
   font-size: 1.3rem;
   color: rgb(46, 48, 50);
   font-weight: 300 ;
   padding: .4rem .6rem;
}
