.events{
    margin-top: 3.8rem;
     
}

.main{
    display: flex;
    justify-content: center; 
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}