.eventCard{
        width: 50vw;
        background-color: white;
        border-bottom: .38rem solid rgb(236, 230, 230);
        border-radius: .2rem;
}

.eventCard>img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding: .7rem .8rem 0rem .8rem;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
}

.cardBody{
    padding: 0 .8rem;
}

.cardBody>h5{
    font-weight: 600;
    font-size: 1.9rem ;
    font-family: 'PT Serif', serif;
    background-color: aliceblue;
    border-radius: 3px;
    padding: .4rem .6rem;
}

.card-text{
   font-family: 'Nunito', sans-serif;
   font-style: italic;
   font-size: 1.2rem;
   color: rgb(0, 0, 0);
   font-weight: 200 ;
   padding: 0.1rem .6rem;
}

 @media (max-width: 1199px) {
    .eventCard{
        width: 100vw;
    }
  }