.navbar{
    display: flex;
    align-items: center;
    text-align: center;
    height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;    
}

.brandheading{
    color: white;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0 auto;
    width: 30v;
}


